*.elc
.#*
.org-id-locations
custom.el
custom.el.backup
places.eld
projects
projects.eld
recentf
recentf.eld
tramp
user-lisp/.user-lisp-autoloads.el

.cache/
.hermes/
/.agent-shell/
agent-shell-data/
agent/
auto-save-list/
eln-cache/
elpa/
eshell/
history
multisession/
transient/
tree-sitter/